<form action="{{ routes.search_url }}">
  <div class="form__textfield-notlabel">
    <input
      type="text"
      name="q"
      value=""
      placeholder="{{ 'general.search.search' | t }}"
      required
    />
    <label for="{{ id }}">
      {{ 'general.search.search' | t }}
    </label>
  </div>

  {% if is_blog %}
    <input
      type="hidden"
      name="type"
      value="article"
    />
    <input
      type="hidden"
      name="view"
      value="search-blogs"
    />
    <input
      type="hidden"
      name="options[prefix]"
      value="last"
    />
  {% endif %}

  <button
    class="btn-1"
    type="submit"
  >
    {% render 'icon-arrow' %}
  </button>
</form>
