<div class="account__wishlist">
  {% if template.name contains 'page' %}
    <h1 class="h2 account__wishlist-title">
      {{ section.settings.heading }}
    </h1>
  {% endif %}

</div>

<wishlist-page 
  data-wishlist-id="mine"
  show-product-title  
  show-price
  cta-button="add-to-cart"
  product-options="dropdowns"
></wishlist-page>

<div class="wishlist__recommendation">
  {% if
    section.settings.btn_text != blank
    and section.settings.btn_url != blank
  %}
    <div class="carousel-products__slide-btn">
      {% render 'link'
        type: 'btn',
        class: 'btn-2 btn-m account__btn--empty',
        content: section.settings.btn_text,
        url: section.settings.btn_url
      %}
    </div>
  {% endif %}

  {% unless section.settings.title_upsell == blank or request.path contains 'account' %}
    <h2 class="subtitle">
      {{ section.settings.title_upsell }}
    </h2>
  {% endunless %}

  {% capture snippet_content %}
    {% assign products = section.settings.collection.products %}

    {% for product in products %}
      {% if product.available %}
        <div class="swiper-slide">
          {% render 'product-card'
            product: product
          %}
        </div>
      {% endif %}
    {% endfor %}
  {% endcapture %}

  {% if section.settings.collection != blank and template.name contains 'page' %}
    <div
      class="carousel-products__slide"
    >
      {% render 'slider'
        content: snippet_content,
        custom_slider: "slider_defer",
        arrows: true,
        item_max: section.settings.collection.products.size,
        id: 'js-collection'
      %}
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "My wishlist",
  "class": "wishlist wrapper-m",
  "tag": "section",
  "templates": [
    "page",
    "customers/account"
  ],
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Title",
      "info": "It is the main section title",
      "default": "MY WISHLIST"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button text",
      "info": "It is the text for main button",
      "default": "VOIR TOUS LES SACS"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button url",
      "info": "It is the url for main button",
      "default": "/"
    },
    {
      "type": "text",
      "id": "title_upsell",
      "label": "Title wishlist upsell",
      "info": "This does not work in account",
      "default": "CELA POURRAIT VOUS INTÉRESSER...."
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Default collection"
    }
  ]
}
{% endschema %}
